    /* Kosár stílus */
    .cart-sidebar {
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100%;
        background-color: #221b3b;
        padding: 20px;
        transition: right 0.3s;
        box-shadow: -2px 0px 10px rgb(174, 221, 243);
      }
      #cart-items {
        max-height: 400px;
        overflow-y: scroll;
      }
