    /* Kosár stílus */
    .cart-sidebar {
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100%;
        background-color: #ac9ce9;
        padding: 20px;
        transition: right 0.3s;
        box-shadow: -2px 0px 10px rgb(174, 221, 243);
      }
      #cart-items {
        max-height: 400px;
        overflow-y: scroll;
      }

      /*szűrő széle */
      .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0px;}

        .product {
          display: flex;          /* Flexbox aktiválása */
          flex-wrap: wrap;       /* Kártyák automatikus újrarendezése, ha szükséges */
          gap: 20px;             /* Kártyák közötti távolság */
          justify-content: flex-start; /* Balra igazítás */
      }
      
      .card {
          width: 400px;          /* Fix szélesség */
          height: 700px;         /* Fix magasság */
          box-shadow: 0 2px 5px rgba(206, 7, 179, 0.1); /* Árnyék a kártyáknak */
          border-radius: 5px;    /* Lekerekített sarkok */
          display: flex;          /* Flexbox a kártyán belül */
          flex-direction: column; /* Kártya belső elrendezésének iránya */
          justify-content: space-between; /* Kártya tartalom elrendezése */
          margin-top: 40px;
      }

      .Img_base{
        width: 398px;
        height: 398px;
      }
      .Img_base img {
        object-fit: cover;
      }
