.logo{
    left: 13%;
    position: absolute;
    top: 10px;
  }

  nav{
    height: 80px;
    width: 100%;
    position: sticky;
  }

.file-input label {
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform .2s ease-out;
}

.file-input{
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  width: 200px;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.hidden{
  visibility: hidden;
}

/*navbar top*/

.nav-link{
  position: absolute;
  top: 20px;
  font-weight: 500;
}

.nav-poz-1{
  position: absolute;
  left: 18%;
  top: 20px;
  font-weight: 500;
}

.nav-poz-2{
  position: absolute;
  left: 26%;
  top: 20px;
  font-weight: 500;
}

.navbar-toggler{
  margin: auto;
}